<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header th:fragment="header"
        style="display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 30px;
        margin-right: auto;
        margin-left: auto;
        height: 80px;
        top: 30px;
        width: 90%;">

    <!-- 왼쪽 로고 -->
    <div style="display: flex; align-items: center;">
        <a href="/" style="display: flex; align-items: center; text-decoration: none;">
            <div class="logo">
                <img src="/img/logo.png" alt="로고" style="height: 40px;" />
            </div>
            <div class="logoText" style="margin-left: 5px;">
                <img src="/img/logoText.png" alt="로고 텍스트" style="height: 20px; width: auto;" />
            </div>
        </a>
    </div>

    <!-- 가운데 메뉴(nav) -->
    <nav style="display: flex; gap: 20px; position: absolute; left: 50%; transform: translateX(-50%);">
        <a href="/" style="text-decoration: none; color: black;">홈</a>
        <a href="/getAreaList" style="text-decoration: none; color: black;">계획 만들기</a>
        <a href="/articles" style="text-decoration: none; color: black;">여행 리뷰 보기</a>
    </nav>

    <!-- 오른쪽 인증(로그인/회원가입) 버튼 영역 -->
    <div id="auth-buttons" class="auth-buttons"></div>
</header>
</body>
</html>