body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 전체 화면 높이 */
    overflow: hidden;
}

main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;/* main을 화면 중앙에 배치 */
    display: flex;/* 가로로 중앙 정렬 */ /* 세로로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이에 맞게 설정 */
}

.full {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
