body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* 전체 화면 높이 */
    overflow: hidden;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
    top: 30px;
    width: 90%;

}

.logo img {
  height: 40px;
}
.logoText img {
  height: 20px;
}

 footer {
     text-align: center;
     margin-top: 20px;
     position: fixed;
     bottom: 0;
     width:100%

}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons a, .auth-buttons span {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
}

.signup-btn, .login-btn {
  background-color: #3498db; /* Light blue */
  color: white;
}

.signup-btn:hover, .login-btn:hover {
  background-color: #2980b9; /* Darker blue */
}

#logout-btn {
  background-color: #e74c3c; /* Red for logout */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
}

#logout-btn:hover {
  background-color: #c0392b; /* Darker red */
}
