footer {
     text-align: center;
     margin-top: 20px;
     bottom: 0;
     width:100%

}

.auth-buttons {
  display: flex;
  gap: 10px;
}

.auth-buttons a, .auth-buttons span {
  text-decoration: none;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
}

.signup-btn, .login-btn {
  background-color: #3498db; /* Light blue */
  color: white;
}

.signup-btn:hover, .login-btn:hover {
  background-color: #2980b9; /* Darker blue */
}

#logout-btn {
  background-color: #e74c3c !important; /* Red for logout */
  color: white !important;
  border: none !important;
  cursor: pointer !important;
  font-size: 14px !important;
  padding: 10px 15px !important;
  border-radius: 5px !important;
}

#logout-btn:hover {
  background-color: #c0392b !important; /* Darker red */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important; /* Slight shadow */
}
