<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>내가 추천한 글 목록</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3">My Blog</h1>
    <h4 class="mb-3">내가 추천한 글 목록</h4>
</div>

<div class="container">
    <!-- 글 목록을 렌더링할 컨테이너 -->
    <div id="recommended-articles-container" class="row"></div>

    <button type="button" class="btn btn-secondary" onclick="location.href='/logout'">
        로그아웃
    </button>
</div>

<!-- 자바스크립트 파일 -->
<script src="/js/myRecommendsList.js"></script>
</body>
</html>
