<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>관광지 리스트</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!-- 헤더 -->
<header th:replace="layouts/header::header"></header>
<!-- 여행 일정 버튼 생성 -->
<div class="date-info">
    <p>여행 시작일: <span id="startDateText"></span></p>
    <p>여행 종료일: <span id="endDateText"></span></p>
</div>

<div id="daysContainer" class="days-list">
  <div class="days-content">
    <!-- 버튼 생성 -->
    <script>
      const startDate = new Date("[[${startDate}]]");
      const endDate = new Date("[[${endDate}]]");
      const dayCount = Math.ceil((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1;

       // 시작일과 종료일을 화면에 표시
      document.getElementById('startDateText').textContent = startDate.toISOString().split('T')[0];
      document.getElementById('endDateText').textContent = endDate.toISOString().split('T')[0];

      for (let i = 0; i < dayCount; i++) {
          const button = document.createElement('button');
          button.textContent = `${i + 1}일차`; // 1일부터 시작
          button.onclick = function() {
              // 날자 버튼 클릭 시 처리할 내용
              alert(`${i + 1}일차 선택됨`);
          };
          document.getElementById('daysContainer').appendChild(button);
      }
    </script>
  </div>
</div>
<!-- 본문 콘텐츠 -->
<div class="main-container">
  <div class="tourist-list">
    <h1>관광지 목록 for [[${areaName}]]</h1>
    <div th:if="${touristSpots}" class="items-container">
      <!-- 관광지 리스트 출력 -->
      <ul th:each="item : ${touristSpots}" class="item"
          th:attr="data-mapx=${item['mapx'] != null ? item['mapx'] : '126.570667'},
                     data-mapy=${item['mapy'] != null ? item['mapy'] : '33.450701'},
                     data-title=${item['title'] != null ? item['title'] : 'No Title'},
                      data-image=${item['firstimage'] != null ? item['firstimage'] : '/img/logo.png'},
                      data-content=${item['contentid'] != null ? item['contentid'] : 'No Id'}">
        <div class="item-content">
          <img th:src="${item['firstimage'] != null ? item['firstimage'] : '/img/logo.png'}" alt="이미지" />
          <span th:text="${item['title'] != null ? item['title'] : 'No Title'}"></span>

          <button class="add-button">+</button>
        </div>
      </ul>
    </div>
  </div>
  <div class="custom-list">
    <h1>선택한 관광지</h1>
    <ul id="customItems" class="custom-container">
      <!-- 선택된 관광지 리스트 -->
    </ul>
  </div>

  <div class="map-section">
    <div id="map"></div>
  </div>
  <button id="nextButton" onclick="goToNextPage()">다음</button>
</div>
<script src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=a2608814fa4fc80c1c244684819fa4dd&libraries=drawing"></script>
<script src="/js/map.js"></script>
<script src="/js/header.js"></script>
</body>
</html>
